@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --dark: #2c393f;
    --light: #00c7c7;
    --gray: #ededed;
    --white: #ffffff;
}

body{
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

body:after{
    content: attr(data-copy-right);
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 10px;
    color: var(--white);
    font-family: Consolas;
}

#join-zoom{
    display: block;
    widtH: 75px;
    height: 75px;
    background: url(../assets/app_icons/zoom.png) white;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    left: 25px;
    cursor: pointer;
}

#join-zoom:hover{
    box-shadow: var(--white) 0 0 20px 0;
}

#join-zoom:before{
    content: attr(data-name);
    text-decoration: none;
    color: var(--white);
    font-size: 10px;
    top: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#join-zoom:after{
    content: attr(data-start);
    text-decoration: none;
    color: var(--white);
    font-size: 10px;
    bottom: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#dashboard{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px);
    grid-template-rows: repeat(auto-fit, 200px 480px);
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
}   

#dashboard .container:nth-of-type(1),
#dashboard .container:nth-of-type(2){
    grid-row: span 2;
}

#dashboard .container{
    background-color: #ffffffaa;
    overflow: hidden;
}

#dashboard .container > div{
    width: 100%;
}

#dashboard .container .head{
    height: 30px;
    width: calc( 100% - 60px );
    padding: 15px 30px;
    border-bottom: 1px solid #000000;
    font-size: 30px;
    line-height: 1;
    position: relative;
    color: var(--dark);
}

#dashboard .container .head:hover{
    background: #ffffff44;
}

#dashboard a{
    text-decoration: none !important
}

#dashboard .container .head .counter{
    background-color: var(--light);
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    color: var(--white);
    position: absolute;
    right: 30px;
    top: 18px;
}

#dashboard .container .head .counter:empty{
    display: none;
}

#dashboard .container .content{
    overflow-y: auto;
}

#todo-wrapper{
    height: calc( 100% - 90px );
}

#todo-wrapper,
#apps-wrapper{
    width: calc( 100% - 60px ) !important;
    padding: 15px 30px;
}

#todo-wrapper > div.task{
    width: calc( 100% - 30px );
    height: fit-content;
    background: var(--white);
    margin: 15px 0;
    padding: 10px 15px 20px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#todo-wrapper > div.task.has-desc{
    cursor: pointer;
}

#todo-wrapper > div.task.has-desc::after{
    content: "⇾";
    position: absolute;
    top: 5px;
    right: 10px;
    transition: transform .2s ease;
}

#todo-wrapper > div.task.has-desc.active::after{
    transform: rotate(90deg);
}

#todo-wrapper > div.task-project-headline{
    width: calc( 100% - 30px) ;
    height: 20px;
    margin: 60px 0 15px;
    background: var(--white);
    padding: 10px 15px 15px;
    font-size: 20px;
    background: var(--light);
    color: var(--white);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#todo-wrapper > div.task-project-headline:first-of-type{
    margin-top: 15px;
}

#todo-wrapper .task:not(.active) .task-desc{
    display: none;
}

#todo-wrapper .task.active .task-desc{
    font-size: 13px;
    margin-left: 30px;
}

#todo-wrapper .task-labels{
    margin-bottom: 10px;
}

#todo-wrapper .task-labels span:first-of-type{ margin-left: 0; }
#todo-wrapper .task-labels span:last-of-type{ margin-right: 0; }

#todo-wrapper .task-labels span{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    color: var(--white);
}

#todo-wrapper span.task-deadline{
    color: var(--dark);
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#clock-wrapper{
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 120px;
    height: 100%;
}

#clock{
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    position: absolute;
}

#clock-time{
    font-size: 60px;
}

#clock-date{
    font-size: 20px;
}

#toggl{
    width: 100%;
    position: absolute;
    bottom: 10px;
}

#apps-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
    grid-template-rows: repeat(auto-fit, 80px);
    row-gap: 40px;
    column-gap: 10px;
    justify-items: center;
}

#apps-wrapper > a{
    width: 70px;
    height: 70px;
    background-color: var(--white);
    display: block;
    position: relative;
    border-radius: 20px;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size .2s ease;
    margin-bottom: 10px;
}

#apps-wrapper > a:hover{
    background-size: 70px;
}

#apps-wrapper > a:after{
    content: attr(data-name);
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    width: 70px;
    color: var(--dark);
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    text-align: center;
}

#radio-frame{
    width: 300px;
    height: 100px;
    position: fixed;
    right: -200px;
    bottom: 30px;
}

#reload-bg{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: alias;
}
